$sizes: (
  small: 240px,
  base: 320px,
  large: 480px,
  x-large: 560px
);

@function use-sizes($key) {
  $value: map-get($sizes, $key);
  @if ($value) {
    @return $value;
  } @else {
    @error 'There is no such key'
  }
}
