@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/spaces";

.header {
  background-color: use-colors(primary);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: use-space(x-large);

  h1 {
    margin: 0;
  }
}
